@import url('https://fonts.googleapis.com/css?family=Montserrat');
:root {
    --background-color: #e5e5e5;
    --current-page-color: #02577a;
    --nav-background-color: #f7f6ff;
    --nav-icon-color: #c4c4c4;
    --nav-icon-hover-color: #009463;
}
body {
    background-color: var(--background-color);
    font-family: 'Montserrat', sans-serif;
}
